//=================
// Page content
//=================
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  white-space: nowrap;

  li {
    display: inline-block;
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



//===========
// Posts
//===========
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}




//=================
// Grayscale Theme
//=================

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: $links;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #11505d;
  }
}


//=================
// Navbar
//=================

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat, $base-font-family;
  background-color: $background-color;

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: 0;
    }

    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: $text-color;

      &:focus, &:active {
        outline: 0;
      }

    }
  }

  a {
    color: $text-color;
  }

  .nav {
    li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;

      &:hover, &:focus, &.active {
        outline: 0;
        background-color: rgba(255,255,255,.3);
      }
    }

    li.active {
      outline: none;
      background-color: rgba(255,255,255,.3);
    }

  }
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $background-color;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}


//=================
// Intro
//=================


.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $text-color;
  background: url(/img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: $background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      font-size: 40px;
    }

    .intro-text {
      font-size: 18px;
    }

  }
}

@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 0;

    .intro-body {

      .brand-heading {
        font-size: 100px;
      }

      .intro-text {
        font-size: 25px;
      }
    }
  }
}


.content-section {
  padding-top: 100px;
}

.projects-section {
  width: 100%;
  padding: 50px 0;
  color: $text-color;
  background: url(/img/projects-bg.jpg) no-repeat center center scroll;
  background-color: $background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 200px;
  }

  .projects-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}

//=================
// Buttons
//=================

.btn {
  text-transform: uppercase;
  font-family: Montserrat, $base-font-family;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid $links;
  color: $links;
  background-color: transparent;

  &:hover, &:focus {
    border: 1px solid $links;
    outline: 0;
    color: $background-color;
    background-color: $links;
  }

}

ul.banner-social-buttons {
  margin-top: 0;
  li {
   margin-bottom: 15px;
  }
}


//=================
//Site Footer
//=================

footer {
  padding: 50px 0;

  p {
    margin: 0;
  }
}



//=================
// Vendor Prefixes
//=================

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}
